<div class="header">
  <div class="splash">
    <div class="container">
      <div class="signin-container">
        <div class="heading">
          <h2>Enter WebSite:</h2>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class='contents'>
  <div class="container">
    <div>
    <%if alert && alert.length > 0 then %>
      <p id="alert" class="alert"><%=alert%></p>
    <% end %>
    <%if notice && notice.size > 0 then %>
      <p id="notice" class="notice"><%=notice%></p>
    <% end %>
  </div>
    <div class="long-form">
      <ul>
          <%= render @links %>
      </ul>
    </div>
  </div>
</div>

